In [11]:
import pandas as pd

# Load the data, the data is encapsulated in double quotes
header = ['token', 'count']
token_data = pd.read_csv('output/token_dict.csv', encoding='utf-8', quotechar='"', sep=';', names=header)

# Display the first few rows of the data
token_data.head(10)

     token  count
0    pince   5790
1       de   3970
2        à   3431
3    TRIAL   3365
4        (   2746
5        )   2744
6  griffes   2432
7        ,   2276
8     pour   2186
9      TRL   2104

In [34]:
# filter the data to only include tokens with more than 3 characters
forbidden_words = ["pour","avec","dans","plus","sont","leur","dont","leurs","entre","aussi","fait","cette","ainsi","être","ces","dont","do",'sans','sous','sur','tout','tous','toutes','toute','toute','tous']
_filterd_data = token_data[token_data['token'].str.len() > 3]
# remove the forbidden words
filtered_data = _filterd_data[~_filterd_data['token'].isin(forbidden_words)]
# remove lines that start with 'L:' and store them in a new dataframe
filtered_data = filtered_data[~filtered_data['token'].str.startswith('L:')]

# export the top 50 tokens to a csv file
top_tokens = filtered_data.sort_values(by=['count'], ascending=False).head(100)
top_tokens.to_csv('output/top_tokens.csv', sep=';', encoding='utf-8')


# top_tokens = filtered_data.sort_values(by=['count'], ascending=False).head(30)
# top_tokens

In [ ]:
# filter the dimensions from the tokens